/*font-family: 'Inconsolata', monospace;*/


* {
    padding: 0;
    margin: 0;
    background-color: #E6FFEB;
    font-family: 'Inconsolata', monospace;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
}

ul {
    display:flex;
    justify-content: stretch;
    list-style: none;
}

a {
    text-decoration: none;
}


.gitLink{
    position:sticky;
    margin-bottom: 2vh;
    margin-left: 95vw;
    font-size: 69px;
    color: grey;
    transition: 0.2s;
}

.gitLink:hover{
    color: black;
}


.navBar {
    height: 10vh;
    width: 33.3vw;
    background-color: #5B666F;
    font-size: 22px;
    color: white;
}
.navBar:hover{
    background-color: #2E2C33;
}


ul {
    display:flex;
    justify-content: space-between;
}

footer{
    position: fixed;
    bottom: 0;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 25px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.terminal{
     width: 70%;
     height: 60vh;
     position: fixed;
     margin-left: 15%;
     margin-right: 15%;
}



.sign a {
    color:green;
    font-weight: bolder;
    font-size: large;
}

.sign {
    padding-bottom: 2%;
    display: flex;
    margin-left: 85vw;
    justify-content: space-evenly;
}

.signupbtn {
    background-color: transparent;
    border:none;
    color: black;
    font-size: large;
    font-weight: bolder;
}

.signupbtn:hover{
    color:#5B666F;
}


.loginbtn:hover {
    color: #5B666F;
}

.homebtn {
    background-color: transparent;
    border:none;
    color:black;
    font-size: large;
    font-weight: bolder;
}

.form_container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login_form{
    padding: 10px;
}

.login_button{
    font-size:large;
    font-weight: bolder;
    margin-top: 10px;
    background: radial-gradient(circle, rgb(146, 141, 141) 80%, rgb(78, 79, 78) 100%);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.login_button:hover {
    background: radial-gradient(circle, rgb(184, 171, 171) 50%, rgb(106, 106, 103) 100%);
}

.text_box {
    padding: 1%;
    background-color: white;
}