/*font-family: 'Inconsolata', monospace;*/


* {
    padding: 0;
    margin: 0;
    /*background-color: #E6FFEB;
    */
    font-family: 'Inconsolata', monospace;
}
.submission-div {
    padding: 5%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.terminal-div {
    margin-left:10%;
    margin-right: 10%;
}
.description-div {
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 3%;
}
.comment-div {
    margin-left:10%;
    margin-right: 10%;
    padding:3%;
    margin-bottom: 15rem;
}
.submission-div > div {
    max-width: 10%;
    max-height: 10%;
    min-width: 10%;
    max-width: 10%;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
}
body {
    background-color: #E6FFEB;
}
footer {
  background-color: transparent;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
}

ul {
    display:flex;
    justify-content: stretch;
    list-style: none;
}

a {
    text-decoration: none;
}


.gitLink{
    position:sticky;
    margin-bottom: 2vh;
    margin-left: 95vw;
    font-size: 69px;
    color: grey;
    transition: 0.2s;
}

.gitLink:hover{
    color: black;
}

/*a button{
    height: 10vh;
    width: 33.3vw;
    background-color: #5B666F;
    font-size: 22px;
    color: white;
}

a button:hover{
    background-color: #2E2C33;
}*/

.nav_button {
    height: 10vh;
    width: 33.3vw;
    background-color: #5B666F;
    font-size: 22px;
    color: white;
}

ul {
    display:flex;
    justify-content: space-between;
}

footer{
    position: fixed;
    bottom: 0;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 25px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.terminal{
     width: 70%;
     height: 55vh;
     margin-left: 15%;
     margin-right: 15%;
}

.form_box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_account {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub_form_box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-signin-header-text {
    font-weight:bolder ;
}

.form-button {
    font-size:large;
    font-weight: bolder;
    margin-top: 10px;
    background: radial-gradient(circle, rgb(146, 141, 141) 80%, rgb(78, 79, 78) 100%);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.comment {
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 3%;
    margin-bottom: 1%;
    background-color: #c2ddc8;
    width: fit-content;
}
.comment > strong {
    background-color: #c2ddc8;
}
.comment > p {
    background-color: #c2ddc8;
    display: flex;
    flex-direction: row;
}

.form-button:hover {
    background: radial-gradient(circle, rgb(184, 171, 171) 50%, rgb(106, 106, 103) 100%);
}


.button_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sign {
    padding-bottom: 2%;
    display: flex;
    margin-left: 85vw;
    justify-content: space-evenly;
}

.signupbtn {
    padding: 0%;
    background-color: transparent;
    border:none;
    color: black;
    font-size: large;
    font-weight: bolder;
}

.signupbtn:hover{
    color:#5B666F;
}

.signupbtn a {
    height: 0%;
    width: 0%;
}

.accountBtn {
    padding: 0%;
    background-color: transparent;
    border:none;
    color: black;
    font-size: large;
    font-weight: bolder;
}

.accountBtn:hover{
    color:#5B666F;
}

.accountBtn a {
    height: 0%;
    width: 0%;
}


.homebtn {
    background-color: transparent;
    border:none;
    color:black;
    font-size: large;
    font-weight: bolder;
}

.homebtn:hover{
    color: #5B666F;
}

.homebtn a {
    height: 0%;
    width: 0%;
}

#user_sub_box {
    background-color: black;
    color: white;
    resize: none;
}

.user_info {
    color: black;
    font-size: large;
    font-weight: bolder;
}

h2 {
    font-weight: bolder;
}