/*font-family: 'Inconsolata', monospace;*/


* {
    padding: 0;
    margin: 0;
    /*background-color: #E6FFEB;
    */
    font-family: 'Inconsolata', monospace;
}
.submission-div {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    flex-wrap: wrap;
    padding-bottom: 2%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    row-gap: 7rem;
    border:black;
    justify-content: space-evenly;
}
.terminal-div {
    margin-left:10%;
    margin-right: 10%;
}
.description-div {
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

.description-div p {
    color:#5B666F;
    font-weight: bolder;
}
.comment-div {
    margin-left:10%;
    margin-right: 10%;
    padding:3%;
    margin-bottom: 15rem;
    width: 100%;
}
.submission-div > div {
    max-width: 10%;
    max-height: 10%;
    min-width: 10%;
    max-width: 10%;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.submission-div a {
    color: black;
    font-weight: bolder;
    display: flex;
    flex-flow: wrap;
}

body {
    background-color: #E6FFEB;
}
footer {
  background-color: transparent;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
}

ul {
    display:flex;
    justify-content: stretch;
    list-style: none;
}

a {
    text-decoration: none;
}


.gitLink{
    position:sticky;
    margin-bottom: 2vh;
    margin-left: 95vw;
    font-size: 69px;
    color: grey;
    transition: 0.2s;
}

.gitLink:hover{
    color: black;
}

.nav_button {
    height: 10vh;
    width: 33.3vw;
    background-color: #5B666F;
    font-size: 22px;
    color: white;
}

ul {
    display:flex;
    justify-content: space-between;
}

footer{
    position: fixed;
    bottom: 0;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 25px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.terminal{
     width: 70%;
     height: 55vh;
     margin-left: 15%;
     margin-right: 15%;
}

.form_box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_account {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub_form_box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-signin-header-text {
    font-weight:bolder ;
}

.form_button {
    font-size:large;
    font-weight: bolder;
    margin-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color:rgb(106, 106, 103);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

.form_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

.comment {
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 3%;
    margin-bottom: 1%;
    background-color: #c5e2cc;
    width: fit-content;
}
.submission-div > div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #798a7c;
}
.submission-text {
    color:#d0ffc6;
    margin-left: 1rem;
    margin-right: 1rem;
}
.comment > strong {
    background-color: #c2ddc8;
}
.comment > p {
    background-color: #c2ddc8;
    display: flex;
    flex-direction: row;
}

.comment {
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 3%;
    margin-bottom: 1%;
    background-color: #c2ddc8;
    width: fit-content;
}
.comment > strong {
    background-color: #c2ddc8;
}
.comment > p {
    background-color: #c2ddc8;
    display: flex;
    flex-direction: row;
}


.button_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sign {
    padding-bottom: 2%;
    display: flex;
    margin-left: 85vw;
    justify-content: space-evenly;
}

.signupbtn {
    padding: 0%;
    background-color: #d9f1de;
    border:none;
    color: black;
    font-size: large;
    font-weight: bolder;
    padding-left: 2px;
    padding-right: 2px;
}

.signupbtn:hover{
    color:#5B666F;
}

.signupbtn a {
    height: 0%;
    width: 0%;
}

.accountBtn {
    padding: 0%;
    background-color: #d9f1de;
    border:none;
    color: black;
    font-size: large;
    font-weight: bolder;
    padding-left: 2px;
    padding-right: 2px;
}

.accountBtn:hover{
    color:#5B666F;
}

.accountBtn a {
    height: 0%;
    width: 0%;
}


.homebtn {
    background-color: transparent;
    border:none;
    color:black;
    font-size: large;
    font-weight: bolder;
}

.homebtn:hover{
    color: #5B666F;
}

.homebtn a {
    height: 0%;
    width: 0%;
}

#user_sub_box {
    background-color: black;
    color: white;
    resize: none;
}

.user_info {
    color: black;
    font-size: large;
    font-weight: bolder;
}

h2 {
    font-weight: bolder;
}

h3 {
    color: black;
    font-weight:900;
}