{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href='/static/style.css'/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<h1>Log In</h1>
<body>
    <nav>
        <ul class = "sign">
            <li><a href = "{{ url_for('signup') }}"><button class = "signupbtn">Sign up</button></a></li>
            <li><a href = "{{ url_for('index') }}"><button class = "homebtn">Home</button></a></li>
        </ul>
    </nav>
    <div class='form_box'>
      <form class="form-signin" method="POST">
        <h2 class="form-signin-header-text">Please enter your credentials.</h2>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.form_field(form.user_name) }}
        {{ wtf.form_field(form.user_password) }}
        {{ wtf.form_field(form.remember) }}
        <div class = "button_box">
          <a href = "{{url_for('home')}}">
            <button class="form_button"
                type="submit">Login</button></a>
        </div>
    </div>
</body>
<footer><a href = "{{url_for('gitpage')}}"><ion-icon class = "gitLink" name="logo-github"></ion-icon></a></footer>
</html>
{% endblock %}