{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href='/static/style.css'/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<h1>New Replit Submission</h1>
<body>
    <nav>
      <ul class = "sign">
          <li><a href = "{{url_for('account')}}"><button class = "accountBtn">{{ name }}</button></a></li>
          <li><a href = "{{url_for('logout')}}"><button class = "signupbtn">Log Out</button></a></li>
      </ul>
    </nav>
      <div class='sub_form_box'>
          <form class="form-submission" method="POST">
            <h2 class="form-submission-header">You can submit your code here:</h2>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.replit_name) }}
            {{ wtf.form_field(form.replit_link) }}
            {{ wtf.form_field(form.replit_description) }}
            <button class="submit_button"
              type="submit">Submit</button></a>
      </div>
</body>
</html>
{% endblock %}