{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href='/static/style.css'/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<h1>Share Space</h1>
    <nav>
        {% if current_user.is_authenticated %}
        <ul class = "sign">
            <li><a href = "{{url_for('account')}}"><button class = "accountBtn">{{ name }}</button></a></li>
            <li><a href = "{{url_for('logout')}}"><button class = "signupbtn">Log Out</button></a></li>
        </ul>
        {% else %}
        <ul class = "sign">
            <li><a href = "{{url_for('signup')}}"><button class = "signupbtn">Sign up</button></a></li>
            <li><a href = "{{url_for('login')}}"><button class = "homebtn">Log In</button></a></li>
        </ul>
        {% endif %}
    </nav>
<nav>
    <ul>
        <li><a href = {{ url_for('index') }}><button class = "nav_button">Random</button></a></li>
        <li><a href = {{ url_for('submissions') }}><button class = "nav_button">User Submissions</button></a></li>
        <li><a href = {{ url_for('account') }}><button class = "nav_button">My Account</button></a></li>
    </ul>
</nav>
<body>
</body>
    {% if current_user.is_authenticated %}
    <div style="display: flex;justify-content:center;align-items:center;">
        <a href= {{ url_for('new_submission') }}><button class="accountBtn">Submit New Replit</button></a>
    </div>
    {% endif %}
    <div class="submission-div">
        {% for item in replits %}
        <div>
            <a href={{ url_for('view_content', replit_id_num = item.replit_id) }}
                <p class="submission-text">{{ item.replit_name }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}